@font-face {
    font-family: 'Raleway-regular';
    src: url('../font/raleway/raleway.regular.ttf');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Raleway-bold';
    src: url('../font/raleway/raleway.bold.ttf');
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'Raleway-thin';
    src: url('../font/raleway/raleway.thin.ttf');
    font-weight: 100;
    font-style: normal
}
@font-face {
    font-family: 'Raleway-light';
    src: url('../font/raleway/raleway.light.ttf');
    font-weight: lighter;
    font-style: normal
}
* {
    font-family: 'Raleway-regular', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
