@font-face {
    font-family: 'Raleway-regular';
    src: url('../font/raleway/raleway.regular.ttf');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Raleway-bold';
    src: url('../font/raleway/raleway.bold.ttf');
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'Raleway-thin';
    src: url('../font/raleway/raleway.thin.ttf');
    font-weight: 100;
    font-style: normal
}
@font-face {
    font-family: 'Raleway-light';
    src: url('../font/raleway/raleway.light.ttf');
    font-weight: lighter;
    font-style: normal
}
* {
    font-family: 'Raleway-regular', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.wrap {
    width: 70vw;
    margin: 0 auto;
    min-height: 85vh;
    margin-top: 140px;
    background-color: #fff;
    border-right: 1px dashed #FFBB87;
    border-left: 1px dashed #FFBB87;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    background: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF5700;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e44c00;
  }